*
{
	margin::0;
	padding:0;
}
body
{
	background-color:#f1f3f4;
	font-family:Arial, Helvetica, sans-serif;
}
.top-nav-bar
{
	height:57px;
	top:0;
	position:sticky;
	background:#2874f0;
	margin-bottom:20px;
	border-bottom:3px solid #2874f0 ;
	z-index:2;
}
.logo
{
	height:40px;
	margin:5px 10px;
	margin-left:100px
}
.form-control
{
	margin-top:9px;
	margin-left:30px;
	border:1px solid #2874f0 !important;
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
	border-top-right-radius:0 !important;
	border-bottom-right-radius:0 !important;
	box-shadow:none;
}
.input-group-text
{
	background:#fff !important;
	border:1px solid #2874f0 !important;
	margin:8.5px 10px 3px 0 !important;
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
	border-top-right-radius:0px!important;
	border-bottom-right-radius:0px !important;
	cursor:pointer;
}
.search-box
{
	display:inline-flex;
	width:60%
}
.fa-search
{
	color:#2874f0;
}
.menu-bar
{
	width:40%;
	height:57px;
	float:right;
}
.menu-bar ul
{
	display:inline-flex;
	float:right;
}
.menu-bar ul li
{
	border-left:1px solid #2874f0;
	list-style-type:none;
	padding:15px 35px;
	texxt-align:center;
	cursor:pointer;
}
.menu-bar ul li a
{
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
.fa-user-plus
{
	margin right:5px;
}
.side-menu
{
	height:79%;
	width:15%;
	font-size:14px;
	float:left;
	z-index:2;
	background-color:#ddd;

}
.side-menu-ul
{
margin-left:10px;
}
.side-menu ul li
{
	list-style-type:none;
	margin-top:10px;
	cursor:pointer;
}
.side-menu ul li:hover
{
	color:blue;
}
.side-menu ul li ul
{
	display:none;
	z-index:10;
	top:77px;
}
.side-menu ul li:hover ul
{
	display:block;
	height:400px;
	margin-left:14%;
	padding:0 100px 10px 10px;
	position:fixed;
	background:#ececec;
	box-shadow:1px 1px 4px 1px rgba(0,0,0,0.5);
	
}
.fa-angle-right
{
	margin-top:4px;
	margin-right:8px;
	float:right;
}
.slider
{
	width:85%;
	margin-left:15%;
	padding:0 10px;

}
.carousel
{
box-shadow:1px 1px 4px 1px rgba(0,0,0,0.5);
}
.carousel-indicators
{
z-index:1 !important;
}
.featured-categories
{
	margin:50px 0;
}
.featured-categories img
{
	width:100%;
	padding:20px 0;
	transition:1s;
	cursor:pointer;
	height:250px
}
.featured-categories img:hover
{
	transform:scale(1.1);
}
.title-box
{
		background-color:blue;
		color:#fff;
		width:180px;
		padding:4px 10px;
		height:40px;
		margin-bottom:30px;
		display:flex;
}
.title-box h2
{
	font-size:24px;
}
.title-box::after
{
	content:'';
	border-top:40px solid blue;
	border-right:50px solid transparent;
	position:absolute;
	display:flex;
	margin-top:-4px;
	margin-left:170px;
	
}
.product-top img
{
	width:100%;
}
.overlay-right
{
	display:block;
	opacity:0;
	position:absolute;
	top:10%;
	margin-left:0;
	width:70px;	
}
.overlay-right .fa
{
	cursor:pointer;
	background-color:#fff;
	color:#000;
	height:35px;
	width:35px;
	font-size:20px;
	padding:7px;
	margin-top:5%;
	margin-bottom:5%;
}
.overlay-right .btn-secondary
{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
}
.product-top:hover .overlay-right
{
	opacity:1;
	margin-left:5%;
	transition:0.5s;
}
.product-bottom .fa
{
	color:orange;
	font-size:15px;
}
.product-bottom h3
{
	font-size:20px;
	font-weight:bold;
}
.product-bottom h5
{
	font-size:15px;
	padding-bottom:10px;
}
.new-products
{
	margin:50px 0;
}
.footer
{
	margin-top:50px;
	background:#172337;
	color:#fff;
}
.footer h5
{
	font-size:15px;
	margin:25px 0;
}
.footer p
{
	font-size:12px;
}
.sell
{
padding:12px;
font-size:13px;
font-family:Arial,sans-serif
}

.footer hr
{
margin-top:10px;
background-color:#ccc;
}
.footer .row .fa
{
padding-right:20px;
font-size:15px;
}
.copyright
{
margin-bottom:-80px;
text-align:center;
font-size:13px;
padding-bottom:20px;
}
